.todoForm{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px;
    
    

     
}

input{
    flex: 1;
    padding: 10px;
    font-size: 16px;
     
}
input:focus{
    outline: none;
    border: 2px solid #6b63ff3d;
    box-shadow: 0 0 5px rgba(107, 99, 255, 0.39);
    transition: all 0.3s ease;
}

input:hover{
    transform: scale(1.01);
    transition: all 0.3s ease;
     
}




@media (max-width: 768px){

.todoForm{
    height: auto;
    display: flex;
    flex-direction: column;
}   

input{
    width: 100%;
   
}

.todoForm .btnAdicionar{
    background-color: #6c63ff;
    color: white;
    font-size: 0.9em;
    width: 100%;
    
}

.todoForm .btnAdicionar:hover{
       transform: scale(1.1);
    transition: all 0.3s ease;
}

}
