.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;

  padding: 20px;
  background: rgba(255,255,255,0.8);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid #eee;
 


  position: sticky;
  top: 0;
  z-index: 1000;

}

.menu a {
  text-decoration: none;
  font-size: 1.1em;
  font-weight: bold;

  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.24);

  color: #333;
  padding: 10px 15px;
  transition: all 0.3s ease;
  transition: color 0.2 ease, background 0.2 ease;
  border-radius: 8px;
}

.menu a:hover {
  transition: all 0.3s ease;
  transform: scale(1.1);
  background: #e3e3e3;
  color: #000000;
}

.menu a:active {
  background: #6c63ff;
  color: white;
}





.buttonDark {
  text-decoration: none;
  font-size: 1.1em;
  font-weight: bold;

  transition: color 0.2 ease, background 0.2 ease;

  color: #ffffff;
  background-color: #333;
  padding: 10px 15px;
  transition: all 0.3s ease;
  border-radius: 8px;


}

.buttonDark:hover {
  transition: all 0.3s ease;
  transform: scale(1.1);
  background: #e3e3e3;
  color: #000000;
}

.buttonDark:active {
  background: #6c63ff;
  color: white;
}








/*responsivo*/


@media (max-width: 768px){

.menu{
  max-width: 100%;
  padding: 2% 4%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.menu a{
  
  font-size: 1em;
  width: 25%;
  
}

.buttonDark{
  font-size: 0.6em;
  width: 25%;
}

}
