.todoList {

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  padding: 0 20px;
  list-style: none;

  flex: 1;
  min-height: 0;


  box-sizing: border-box;


}




.vazio {
  text-align: center;
  color: #000000;
  margin-top: 20px;
  font-size: 2.3em;
  

}

.tarefa {
  font-size: 0.4em;
  font-weight: normal;
  
  
  
}




.listaScroll {
 
  max-height: 50vh;
  min-height: 0;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 12px;
  
  -webkit-overflow-scrolling: touch;
   
}

/* largura */
.listaScroll::-webkit-scrollbar {
  width: 10px;

}

/* fundo */
.listaScroll::-webkit-scrollbar-track {
  background: transparent;
  
}

/* barra */
.listaScroll::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 20px;
  transition: background-color 0.3s;
  
  

}

/* hover */
.listaScroll::-webkit-scrollbar-thumb:hover {
  background-color: #999;
  

}



body.dark .vazio {
  color: aliceblue;
}


@media (max-width: 768px) {



  .todoList {
   padding: 10px;
   
  }

  .vazio {
    font-size: 1.2em;
    font-weight: bold;
  }

  .tarefa {
    font-size: 0.8em;
    font-weight: lighter;
    
  }
   
.listaScroll{

  flex: 1;
  min-height: 50vh;
  overflow-y: auto;
  padding-right: 10px;
}




}