 .botaoExcluirTudo {
  background: crimson;
  color: white;
  border: none;
  padding: 6px 10px;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.botaoExcluirTudo:hover {
  background: darkred;
  transform: scale(1.1);
  transition: all 0.3s ease;
}

button:disabled {
    opacity: 0.3;
    cursor: not-allowed;
}
