 .btnAdicionar {

     position: relative;
     display: flex;
     align-items: center;
     gap: 8px;

     padding: 10px 20px;
     font-size: 16px;
     cursor: pointer;
     font-weight: 600;
     transition: all 0.3s ease;
 }

 .btnAdicionar:hover {
     background-color: #6c63ff;
     color: white;
     transform: scale(1.1);
     transition: all 0.3s ease;
 }

 .iconBox {
     position: relative;
     width: 18px;
     /* 🔥 espaço fixo */
     height: 18px;
 }

 .default {
     background: #6c63ff;
     color: white;
 }

 .criar {
     background-color: #6c63ff;
     color: white;
     font-size: 0.8em;
     border: none;
     padding: 5px 10px;
     cursor: pointer;
     border-radius: 4px;
     transition: all 0.3s ease;


 }


 .iconNormal {
     opacity: 1;
     transition: opacity 0.2s ease;
 }

 .iconHover {
     opacity: 0;
     
 }

 .iconHover,
 .iconNormal {
     flex-shrink: 0;
     position: absolute;
     top: 0;
     left: 0;
     transition: opacity 0.2s ease;
 }


 /* troca de ícone no hover */
 .btnAdicionar:hover .iconNormal {
     opacity: 0;
 }

 .btnAdicionar:hover .iconHover {
     opacity: 1;
 }







 @media (max-width: 768px) {


     .btnAdicionar {
         background-color: #6c63ff;
         color: white;
         font-size: 0.9em;
         width: 100%;

         display: flex;
         flex-direction: row;
         align-items: center;
         justify-content: center;
         gap: 8px;







     }

     .btnAdicionar:active {
         transform: scale(1.1);
         transition: all 0.3s ease;
     }

     .criar {
         width: 100%;
         align-items: center;
     }

 }