* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}




:root {
  --primary: #6c63ff;
  --secondary: #00c9a7;
  --bg: #f5f5f5 --card: #ffffff;

}



.appContainer {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  width: 100%;
  background:
    linear-gradient(rgba(109, 233, 250, 0.25),
      rgba(146, 251, 255, 0.25)),
    url("/bg-pattern.svg");


   padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);


  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  background-size: 200% 500%;
  animation: gradientBG 9s ease infinite;
  
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}








body {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: none;
  overflow-x: hidden;




  color: #333;
  background:
  radial-gradient(circle at top, #eef2ff, transparent 60%),
  #0057ad;
  


}

.pageContainer {


  width: 100%;
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;

  
  min-height: 0;
  display: flex;
  flex-direction: column;

  overflow: hidden; 
}


.container {
  flex: 1;              
  min-height: 0;  


  width: 100%;
  max-width: 700px;
  margin: 20px auto;
  padding: 10px;

  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid #eee;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

  border: none;
  box-shadow: 0 0 5px rgba(107, 99, 255, 0.452);
   overflow: hidden; 

}

@media print {
  body * {
    visibility: hidden;

  }

  .listaPDF,
  .listaPDF * {
    visibility: visible;

  }

  .listaPDF {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  button {
    display: none;
  }
}




body.dark {
  background: #3a3a3a;
}








body.dark .container,
body.dark .home {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  color: rgb(37, 37, 37);

}

body.dark a {
  color: #eeeeee;
  background-color: #353434;

}

body.dark a:hover {
  background: #1d1d1d;
  color: white;
}


body.dark .appContainer {
  background:
    linear-gradient(rgba(20, 20, 20, 0.9),
      rgba(20, 20, 20, 0.5)),
    url("/bg-pattern.svg");
  color: rgb(22, 22, 22);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  background-size: 200% 500%;

  animation: gradientBG 9s ease infinite;

}









@media (max-width: 768px) {


  body {
    max-width: 100%;


  }

  .appContainer {
    background-size: 600% 600%;
  }

  body.dark .appContainer {
    background-size: 700% 500%;
  }


}